html {
  /* scroll-snap-type: y mandatory;
  scroll-behavior: smooth; */
}

body{
  margin: 0px;
  /* overflow: hidden; Hide scrollbars */
}

section {
  width: 100vw;
  /* scroll-snap-align: center; */
  /* overflow: hidden; */
}