.description {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-top: 10px;

  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

    h2 {
      font-size: clamp(24px, 6vw, 80px);
      font-weight: 700;
      color: #484848;
      margin: 0;
      margin-bottom: -20px;
      line-height: 1.4;
    }

    p {
      width: 60%;
      margin-top: 30px;
      font-size: 16px;
      font-weight: 300;
      color: #484848;
      text-align: center;
    }
  }

  video {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 9;
    width: clamp(400px, 100vw, 1080px);
    height: 150vh;
    background-color: transparent;
    object-fit: contain;
    clip-path: inset(0 0 50% 0); /* 只显示上半部分 */
  }
}

/* Media Queries */

/* xs */
@media (max-width: 475px) {
  /* 空的 xs 查询 */
}

/* sm */
@media (max-width: 640px) {
  .description {
    height: 55vh;

    .body h2 {
      line-height: 2;
    }
  }
}

/* md */
@media (max-width: 768px) {
  .description {
    height: 60vh;

    .body h2 {
      line-height: 2;
    }
  }
}

/* lg */
@media (max-width: 1024px) {}

/* xl */
@media (max-width: 1280px) {}

/* 2xl */
@media (max-width: 1536px) {}
